## Importing all neccessary Libraries

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine,inspect
from sqlalchemy.exc import ProgrammingError
import numpy as np
import os

C:\Users\Dell\AppData\Local\Temp\ipykernel_3972\1499122679.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Function for Connecting  mariadb

In [12]:
def connect_and_query_mariadb(query, host, user, password, database, your_port,table_name):

    try:
        error = None
        # Connect to MariaDB
        connection = pymysql.connect(
            host=host,
            user=user,
            password=password,
            database=database,
            port=your_port
        )

        # Execute the query and fetch the result
        with connection.cursor() as cursor:
            cursor.execute(query)
            result = cursor.fetchall()
            column_names = [i[0] for i in cursor.description]
            df = pd.DataFrame(result, columns=column_names)

        #print("Connected successfully!")
        print('Welcome to the MariaDB monitor....\U0001f600')
        print(f'you are connected to \nHost : {your_host}\nUser : {your_user}\nDatabase : {your_database}\nTable : {table_name}')
        return df
    
    except pymysql.Error as e: 
        error = e       
        print(f"Error: {e}")
        return None

    finally:
        if error:
            print('please Resolve Above Issueee....')
        else:
            print('Function Executed Succesfully....')

## Fuction call

In [1]:
table_name = 'uid_input_table'
your_query = f"select * from {table_name}"
your_host = 'localhost'
your_user = 'root'
your_password = 'root'
your_database = 'madhu'
your_port = 3306

result_df = connect_and_query_mariadb(your_query, your_host, your_user, your_password, your_database, your_port,table_name)
print(display(result_df.head(4)))

## inserting Data from Dataframe to table in mariadb

In [309]:
# engine = create_engine('mysql+pymysql://root:root@localhost:3306/madhu')
from datetime import datetime
fixed_table_name = 'uid_input_table'
table_name = ''
current_datetime = datetime.now()
formatted_datetime = current_datetime.strftime('_%Y_%m_%d_%H%M%S')
# formatted_date = current_datetime.strftime('%Y%m%d')
# formatted_time = current_datetime.strftime('%H%M%S')
# formatted_datetime_Str = str(formatted_date + formatted_time)
# table_name = fixed_table_name+'_' + str(current_datetime)
# table_name = table_name.replace('-', '_')
table_name = fixed_table_name + formatted_datetime
#table_name = fixed_table_name
#your_user = 'root'

engine = create_engine(f'mysql+pymysql://{your_user}:{your_password}@{your_host}:{your_port}/{your_database}')
#table_name = table_name + str(datetime.now().date())

try:
    inspector = inspect(engine)
    table_exists = table_name in inspector.get_table_names()
    if table_exists:
        # with engine.connect() as connection:
        #     result = connection.execute(f'SELECT COUNT(*) FROM {table_name}')
        #     row_count = result.scalar()  # Get the count from the result
        #     print(f'count of table {row_count}')
        print(f'table already  exist with name {table_name}')
        print(f'\n inserting data  into  {your_database}.{table_name}')
        df.to_sql(name=table_name, con=engine, if_exists='append', index=False, chunksize=1000)
        print('\n Data inserted into MariaDB successfully.......')
    else:
        print(f'There is no table with name  :  {table_name}')    
        print(f'\ncreting Table  :  {your_database}.{table_name}.....')    
        df.to_sql(name=table_name, con=engine, if_exists='append', index=False, chunksize=1000)
        print(f'\n{table_name} : is created in  Database : {your_database} ')

    # df.to_sql(name=table_name, con=engine, if_exists='append', index=False, chunksize=1000)    
    # df.to_sql(name=table_name, con=engine, if_exists='replace', index=False, chunksize=1000)
    # print('Data migrated to MariaDB successfully.')
except Exception as e:
    print(f"Error: {e}")
    #return None

There is no table with name  :  uid_input_table_2024_01_29_183953

creting Table  :  madhu.uid_input_table_2024_01_29_183953.....

uid_input_table_2024_01_29_183953 : is created in  Database : madhu